<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ archive.title }}</title>
</head>
<body>
<a rel="collection" href="{{ url_for('domainlist') }}">URL List</a>
<h1>{{ archive.title }}</h1>
<h2>{{ archive.description }}</h2>

<a href="{{ url_for('archiveplan', archive_id=archive['@id']) }}">Archive Plan</a>

<h2>Created: {{ archive.createdate }}</h2>

<h2>Snapshots</h2>
<div class="web-archive">
<ul>
{% for key, snapshot in archive.snapshots.items() %}

<li class="capture"><a rel="record" href="{{ url_for('snapshot', archive_id=archive['@id'], snapshot_id=snapshot['@id']) }}">Capture {{ snapshot['@id'] }}</a><br/>{{ snapshot.date }}</li>

{% endfor %}
</ul>
</div>

</body>
</html>