<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Discogs.org Archive</title>
</head>
<body>
<a rel="collection" href="URL_List.html">URL List</a>
<h1>Discogs.org Archive</h1>

<ul>
<li>Frequency: Monthly</li>	
<li>Start Date: 01/22/16</li>	
<li>Most Recent: 03/22/16</li>
</ul>

<form action="Discogs_Archive.html" method="put">
<h2>Change Frequency</h2>
<select name="frequency">
	<option value="daily">Daily</option>
	<option value="weekly">Weekly</option>
	<option value="bi-weekly">Bi-Weekly</option>
	<option value="monthly">Monthly</option>
	<option value="quarterly">Quarterly</option>
</select>
	<input type="submit" value="Submit">
</form>


<h2>Snapshots</h2>
<div class="web-archive">
<ul>
<li class="capture"><a rel="record" href="DiscogsCapture1.html">Capture 3</a><br/>Date: 03/22/16</li>
<li class="capture"><a rel="record" href="DiscogsCapture2.html">Capture 2</a><br/>Date: 02/22/16</li> 
<li class="capture"><a rel="record" href="DiscogsCapture3.html">Capture 1</a><br/>Date: 01/22/16</li>
</ul>
</div>



</body>
</html>